
content{
    margin-left: 15px;
    overflow: hidden;
    height:100%;
    font-size:14px;
    padding: 0,0,5px,0;
}

.titleContent{

    padding-left:136px;

}
.imgContent{

    padding-left:30%;
    width: 30%;
    height: auto;
}